@model VTSolution.Models.Address
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Cập nhật Address";
    }
    else
    {
        ViewBag.Title = "Thêm mới Address";
    }

}
@section featured{
    @using (Html.BeginForm("Create", "Address"))
    {
        <div class="box box-primary">
            <form role="form">
                @Html.HiddenFor(model => model.Id)
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Tên </label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Vi_Name, new { id = "Title", required = "required", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Tên tiếng anh</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Eng_Name, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Tên tiếng nhật</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Ja_Name, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Đia chỉ </label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Vi_Address, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Địa chỉ tiếng anh</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Eng_Address, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Địa chỉ tiếng nhật</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Ja_Address, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Điện Thoại</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Phone, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Fax</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Fax, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Email</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Email, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Kinh Độ</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Longtitude, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label for="Title">Vĩ Độ</label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Latitude, new { id = "Title", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <button type="submit" id="Submit" class="btn btn-primary ladda-button Submit" data-style="expand-right">Cập nhật</button>
                            <a class="btn btn-danger ladda-button" id="btn_Canel" href="/Address/Index" data-style="expand-right">Quay lại</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
}




