@using Nop.Web.Models.Catalog;
@model IEnumerable<ProductOverviewModel>
<div class="shop clearfix shop-masonry">
    <div class="masonry-sizer"></div>


    @foreach (var item in Model)
    {
        <div class="masonry-item">
            <div class="product" style="height:250px">
              
                @*@if (item.MarkAsNew)
                    {
                        <span class="indicator-product-status top-left-upcoming"></span>
                    }*@
                @if (item.ProductPrice.PriceDiscount != null)
                {
                    @*<span class="indicator-product-status top-left-hot">@item.ProductPrice.PriceDiscount</span>*@
                    <div class="triangle_dis">
                        <span>@item.ProductPrice.PriceDiscount</span>
                    </div>
                }
                @*<div class="product-overlay animate" itemscope itemtype="http://schema.org/Product" title="@item.Name">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="product-link" title="@item.Name"></a>
                        <h3 class="name" itemprop="name">@item.Name</h3>
                        <div class="overlay-price"><span style="color: #232323; font-weight: normal;">Giá :</span> @item.ProductPrice.Price</div>
                        <div itemprop="description" style="color:#96989b !important;">
                            @Html.Raw(item.ShortDescription)
                        </div>
                        <div class="product-config">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="Xem Hàng" class="btn-cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Xem Hàng</span>
                            </a>

                        </div>
                    </div>*@
                <div class="product-name-01">
                    <div class="name-01">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            @item.Name
                        </a>
                    </div>
                </div>
                <div style="height:160px">
                    <div class="product-image" style="float:left;width:35%">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            <figure data-feedback="fb:likes, fb:comments">
                                <img class="lazy" itemprop="image" data-original="@item.DefaultPictureModel.ImageUrl">
                            </figure>
                        </a>
                    </div>
                    <div class="product-short-description">
                        <div Modelprop="description" style="color:#535083 !important;">
                            @Html.Raw(item.ShortDescription)
                        </div>
                    </div>
                </div>
                <div class="product-name-02" style="position:absolute">
                    <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="VND" />
                        @if (item.ProductPrice.PriceDiscount != null)
                        {
                            <div class="arrowLine" style="width:120px">@item.ProductPrice.OldPrice</div>
                            <div class="price-2 triangle_left"></div>
                        }
                        else
                        {
                            <div class="arrowLine" style="width:120px">@item.ProductPrice.Price</div>
                            <div class="price-1 triangle_left"></div>
                        }
                        <div style="float: left; margin: 5px 10px;">
                            <img src="~/Themes/DefaultClean/Content/images/red_phone.png" style="
    float: left;
    margin-top: -10px;"/>
                            <span style="width: 100%;

    background: -moz-linear-gradient(right, #E7E8E9, white);
    background: linear-gradient(to right, #E7E8E9, white);

    padding: 5px 20px 5px 25px;
    overflow: hidden;

    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
    color: #4940ca !important;
    letter-spacing: 1;">098 667 43 55</span>
                        </div>
                    </div>
                   
                </div>
                @*@if (item.ProductPrice.PriceDiscount != null)
                    {
                        <div class="product-sale ">
                            <div class="clearfix">
                                <div class="product-sale-text">
                                    <div class="price-1">Giá khuyến mãi : @item.ProductPrice.Price</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }*@
            </div>

        </div>
    }
</div>
