@using Nop.Web.Models.Catalog;
@model IEnumerable<ProductOverviewModel>
<div class="shop clearfix shop-masonry">
    <div class="masonry-sizer"></div>


    @foreach (var item in Model)
    {
        <div class="masonry-item">
            <div class="product" style="height:350px">

                @*@if (item.MarkAsNew)
                    {
                        <span class="indicator-product-status top-left-upcoming"></span>
                    }*@
                @if (item.ProductPrice.PriceDiscount != null)
                {
                    @*<span class="indicator-product-status top-left-hot">@item.ProductPrice.PriceDiscount</span>*@
                    <div class="triangle_dis">
                        <span>@item.ProductPrice.PriceDiscount</span>
                    </div>
                }
                <!-- begin tro chuot -->
                @*<div class="product-overlay animate" itemscope itemtype="http://schema.org/Product" title="@item.Name">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="product-link" title="@item.Name"></a>
                        <h3 class="name" itemprop="name">@item.Name</h3>
                        <div class="overlay-price"><span style="color: #232323; font-weight: normal;">Giá :</span> @item.ProductPrice.Price</div>
                        <div itemprop="description" style="color:#96989b !important;">
                            @Html.Raw(item.ShortDescription)
                        </div>
                        <div class="product-config">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="Xem Hàng" class="btn-cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Xem Hàng</span>
                            </a>

                        </div>
                    </div>*@
                <!-- end tro chuot -->
                <div class="product-name-01">
                    <div class="name-01">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            @item.Name
                        </a>
                    </div>
                </div>
                <div>
                    <div class="product-image">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            <figure data-feedback="fb:likes, fb:comments">
                                <img class="lazy" itemprop="image" data-original="@item.DefaultPictureModel.ImageUrl" style="width:150px !important">
                            </figure>
                        </a>
                    </div>
                    <div style="width: 80%;
                              
                                background: #F1F1F1;
                                background: -webkit-linear-gradient(left, #E7E8E9, white);
                                background: -o-linear-gradient(right, #E7E8E9, white);
                                background: -moz-linear-gradient(right, #E7E8E9, white);
                                background: linear-gradient(to right, #E7E8E9, white);
                                line-height: 18px;
                                /*border: 1px solid #e3e3e3;*/
                                padding: 5px;
                                overflow: hidden;
                                margin:auto;max-height:120px">
                        <div Modelprop="description" style="color:#535083 !important;">
                            @*@Html.Raw(item.ShortDescription)*@
                            <table class="tg">
                                <tr>
                                    <td class="tg-baqh" style="border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2">cấu hình mạnh mẽ core i7</td>
                                    <td class="tg-baqh" style="border-right:1px solid #d2d2d2">Sức chứa lớn 8g</td>
                                    <td class="tg-baqh">Tốc độ siêu mượt DDR5</td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh" colspan="3">man hinh song dong 4k full hd</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="product-name-02" style="position:absolute;margin-top:8px">
                    <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="VND" />
                            @if (item.ProductPrice.PriceDiscount != null)
                            {
                                <div class="arrowLine">@item.ProductPrice.OldPrice</div>
                                <div class="price-2 triangle_left"></div>
                            }
                            else
                            {
                                <div class="arrowLine">@item.ProductPrice.Price</div>
                                <div class="price-1 triangle_left"></div>
                            }
                        <div style="float: left; margin: 5px 6px;">
                                <img src="~/Themes/DefaultClean/Content/images/gift_red.png" style="float:left; margin-top:-8px;width:32px" />
                                <div class="voucher-quotes-ehis">
                                    <span> Voucher 100.000 đ</span>
                                    <img src="~/Themes/DefaultClean/Content/images/giftcard.png" style="float:left; margin-top:-4px;width:32px" />
                                </div>
                            </div>
                    </div>
                </div>
                @*@if (item.ProductPrice.PriceDiscount != null)
                    {
                        <div class="product-sale ">
                            <div class="clearfix">
                                <div class="product-sale-text">
                                    <div class="price-1">Giá khuyến mãi : @item.ProductPrice.Price</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }*@
            </div>
        </div>
    }
</div>
<style>
    .tg {
        /*border-collapse: collapse;
        border-spacing: 0;*/
    }

        .tg td {
            font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 13px;            
            padding: 5px 5px;
            /*border-style: solid;*/
            /*border-width: 1px;*/
            overflow: hidden;
            word-break: normal;
            width:33%;
            color:#535083;
        }

        .tg th {
            /*font-family: Arial, sans-serif;*/
            font-size: 14px;
            font-weight: normal;
            padding: 5px 5px;
            /*border-style: solid;*/
            /*border-width: 1px;*/
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-baqh {
            text-align: center;
            vertical-align: top;
        }
</style>