@using Nop.Web.Models.Catalog;
@model IEnumerable<ProductOverviewModel>
<div class="shop clearfix shop-masonry">
    <div class="masonry-sizer"></div>


    @foreach (var item in Model)
    {
        <div class="masonry-item">
            <div class="product" style="height:430px">

                @*@if (item.MarkAsNew)
                    {
                        <span class="indicator-product-status top-left-upcoming"></span>
                    }*@
                @if (item.ProductPrice.PriceDiscount != null)
                {
                    @*<span class="indicator-product-status top-left-hot">@item.ProductPrice.PriceDiscount</span>*@
                    <div class="triangle_dis">
                        <span>@item.ProductPrice.PriceDiscount</span>
                    </div>
                }
                <!-- begin tro chuot -->
                @*<div class="product-overlay animate" itemscope itemtype="http://schema.org/Product" title="@item.Name">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" class="product-link" title="@item.Name"></a>
                        <h3 class="name" itemprop="name">@item.Name</h3>
                        <div class="overlay-price"><span style="color: #232323; font-weight: normal;">Giá :</span> @item.ProductPrice.Price</div>
                        <div itemprop="description" style="color:#96989b !important;">
                            @Html.Raw(item.ShortDescription)
                        </div>
                        <div class="product-config">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="Xem Hàng" class="btn-cart">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span>Xem Hàng</span>
                            </a>

                        </div>
                    </div>*@
                <!-- end tro chuot -->
                <div class="product-name-01">
                    <div class="name-01">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            @item.Name
                        </a>
                    </div>
                </div>
                <div>
                    <div class="product-image">
                        <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                            <figure data-feedback="fb:likes, fb:comments">
                                <img class="lazy" itemprop="image" data-original="@item.DefaultPictureModel.ImageUrl" style="width:200px !important; max-height:180px !important">
                            </figure>
                        </a>
                    </div>
                    <div class="product-short-description-v1">
                        <div Modelprop="description" style="color:#535083 !important;">
                            @*@Html.Raw(item.ShortDescription)*@
                            <table class="tg">
                                <tr>
                                    <td class="tg-baqh" style="border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2">
                                        <div class="table-cell-inner">
                                            @Html.Raw(item.Processor)
                                        </div>
                                    </td>
                                    <td class="tg-baqh" style="border-right:1px solid #d2d2d2">
                                        <div class="table-cell-inner">
                                            @Html.Raw(item.RAM)
                                        </div>
                                    </td>
                                    <td class="tg-baqh">
                                        <div class="table-cell-inner">
                                            @Html.Raw(item.Graphicss)
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tg-baqh" colspan="3">
                                        @Html.Raw(item.Display)
                                        <div>
                                            <img src="/Themes/DefaultClean/Content/images/diamond24.png" style="height:90%;">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="product-name-02" style="position:absolute;margin-top:10px">
                    <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="VND" />
                        <div class="arrowLine">@item.ProductPrice.Price</div>
                        <div class="price-1 triangle_left"></div>
                        @if (item.GiftVoucher != null && !item.GiftVoucher.Equals("0"))
                        {
                            <div style="float: left; margin: 5px 6px; margin-bottom:-2px !important">
                                @if (item.ProductPrice.PriceDiscount != null)
                                {
                                    <div class="old-price-1">
                                        @item.ProductPrice.OldPrice
                                    </div>
                                }
                                <img src="~/Themes/DefaultClean/Content/images/gift_red.png" style="float:left; margin-top:-8px;width:32px" />
                                <div class="voucher-quotes-ehis">
                                    <span> Voucher @item.GiftVoucher đ</span>
                                    <img src="~/Themes/DefaultClean/Content/images/giftcard.png" style="float:left; margin-top:-4px;width:32px" />
                                </div>
                            </div>
                        }
                    </div>
                    @*@if (item.ProductPrice.PriceDiscount != null)
                        {
                            <div class="old-price-1">
                                Giá cũ: @item.ProductPrice.OldPrice
                            </div>
                        }*@
                </div>
                @if (item.PromotionDoc != null && !item.PromotionDoc.Equals(""))
                {
                    <div class="promotion">
                        @*<p style="color:#333;position:relative;top:0">Khuyến mãi:</p>*@
                        <div class="promotion-media">
                            @Html.Raw(item.PromotionMedia)
                        </div>
                        <div class="promotion-doc">
                            @Html.Raw(item.PromotionDoc)
                        </div>
                    </div>
                }
                @*@if (item.ProductPrice.PriceDiscount != null)
                    {
                        <div class="product-sale ">
                            <div class="clearfix">
                                <div class="product-sale-text">
                                    <div class="price-1">Giá khuyến mãi : @item.ProductPrice.Price</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }*@
            </div>
        </div>
    }
</div>
<style>

</style>