<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/timepicki/jquery.datetimepicker.min.css" rel="stylesheet" />
    @(RenderSection("ImportStyles", false))

    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportStyles", true } });}
    <link href="~/lib/images/LOGO_ICON.png" rel="icon" />
    <link href="~/lib/Select/Select.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/loadingPage.css" rel="stylesheet" />
    <script src="~/lib/modernizr/modernizr-2.6.2.js"></script>
    <link href="~/lib/MetroAdmin/css/layout.css" rel="stylesheet" />
    <link href="~/lib/MetroAdmin/css/light.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @(RenderSection("SetupStyles", false))
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "SetupStyles", true } });}
</head>
<body ng-app="app" class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
    <div class="page-header navbar navbar-fixed-top">
                @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "Html", true } });}
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">

            <div class="page-sidebar navbar-collapse collapse">

                @{Html.RenderPartial("_PartialNavigationMenu", new ViewDataDictionary { { "Html", true } });}

            </div>
        </div>

        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            2017 &copy; Song ân Company.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <script src="~/lib/jquery/jquery-3.1.1.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jQuery-Mask-Plugin-master/jquery.mask.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/moment/vi.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/timepicki/jquery.datetimepicker.full.min.js"></script>
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportScripts", true } });}
    @{Html.RenderPartial("_PartialNavigationMenu", new ViewDataDictionary { { "ImportScripts", true } });}
    @(RenderSection("ImportScripts", false))
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular/angular-filter.js"></script>
    <script src="~/lib/angular/angular-cookies.min.js"></script>
    <script src="~/lib/angular-smart-table/smart-table.min.js"></script>
    <script src="~/Scripts/angular/app/app.js"></script>
    <script src="~/Scripts/angular/app/models/AccountService.js"></script>
    <script src="~/Scripts/angular/app/models/utility.js"></script>
    <script src="~/Scripts/angular/shared/filter/Number.Filter.js"></script>
    <script src="~/Scripts/angular/shared/directive/number-format.js"></script>
    <script src="~/Scripts/angular/shared/directive/input-number.js"></script>
    <script src="~/lib/Select/angular-sanitize.js"></script>
    <script src="~/lib/Select/Select.js"></script>
    <script src="~/lib/MetroAdmin/scripts/metisMenu.js"></script>
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportAngular", true } });}
    @(RenderSection("ImportAngular", false))
    @(RenderSection("SetupScripts", false))
</body>
</html>