@model SongAn.QLTS.UI.QLTSMAIN.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_login.cshtml";
    ViewBag.Title = "Index";
}
<!--
    @{
        var error = ViewData.ModelState["Exception"] ?? null;
        bool hasError = (error != null && error.Errors.Count > 0) ? true : false;
        var errorMessage=hasError ? error.Errors[0].ErrorMessage : string.Empty;
    }

    @(errorMessage)
-->



       
   

          
                    @{
                        error = ViewData.ModelState[""] ?? null;
                        hasError = (error != null && error.Errors.Count > 0) ? true : false;
                        errorMessage = hasError ? error.Errors[0].ErrorMessage : string.Empty;

                    }
                    @if (hasError)
                    {
                        <div class="alert alert-danger text-center">
                            @(errorMessage)
                        </div>
                    }
                    <form  method="post" style="margin-top: 64px;">
                       <h4>Đăng nhập</h4>
                        <div class="form-group row-pad-5">
                            <input class="form-control" placeholder="Email" name="Username" type="text" value="@(Model.Username)" autofocus>
                        </div>
                        <div class="form-group row-pad-5">
                            <input class="form-control" placeholder="Mat khau" name="Password" type="password" value="@(Model.Password)" />
                        </div>
                        <div class="form-group row-pad-5">
                            <div class="ckbox ckbox-primary col-md-6">
                                <input type="checkbox" checked="checked" id="remember_me_check" name="remember_me_check" value="false">
                                <label for="remember_me_check">Nhớ tài khoản</label>
                                <input type="hidden" id="remember_me" name="remember_me" value="false">
                            </div>
                            <div class="col-md-6">
                                <a href="" data-toggle="modal" data-target=".bs-example-modal-lg" id="foget-pass">Quên mật khẩu?</a>
                            </div>

                            <div>
                            </div>
                        </div>
                        <div class="row row-pad-5">
                            <span style="text-align:center;">
                                <label class="input-error" style="display:none;" id="resetValText"></label>
                            </span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                        </div>
                    </form>
           
 

<!--
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Login</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}
-->
