
@{
    ViewBag.Title = "List";
}
<div class="container-fluid" ng-controller="MainCtrl as mainCtrl" ng-init="mainCtrl.onInitView()">
    <!-- panel tìm kiếm -->
    <div class="panel panel-default hidden-print" ng-controller="NguoiDungFilterCtrl as ctrl" ng-init="ctrl.onInitView('NguoiDungFilterCtrl')" keyboard="ctrl.keys">
        <div class="panel-heading">
            <div class="panel-title clearfix">
                <span><i class="fa fa-fw fa-star-o"></i>Người dùng</span>
                <div class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-primary" data-toggle="collapse" data-target="#panelTimkiemCollapse"><i class="fa fa-fw fa-search"></i>Tìn kiếm (F3)</a>
                    <a class="btn btn-warning" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-fw fa-cog"></i>Tùy chọn</a>
                </div>
            </div>
        </div>
        <div>
            <div class="collapse fade" id="panelTimkiemCollapse">
                <div class="panel-body">
                    <form class="form">
                        <!-- search field -->
                        <div class="row form-group form-group-sm">
                            <label for="txtNgay" class="control-label col-sm-2">Ngày</label>
                            <div class="form-inline col-sm-10">
                                <input type="text" id="tungay" class="form-control datetimepicker date" placeholder="__/__/____" />
                                <span>~</span>
                                <input type="text" id="denngay" class="form-control datetimepicker date" placeholder="__/__/____" />
                            </div>
                        </div>
                        <div class="row form-group form-group-sm">
                            <label for="txtVaiTro" class="control-label col-sm-2">Vai trò</label>
                            <div class="col-sm-10">
                                <div class="form-control auto-height">

                                    <a class="pull-right" href="javascript:void(0);" ng-click="ctrl.action.clearListVaiTro()"><i class="fa fa-remove"></i></a>
                                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#VaiTroListPopup">
                                        <div>
                                            <i class="fa fa-fw fa-search"></i>
                                            <span class="" style="margin-right: 5px;" ng-bind="kh.TenVaiTro+','" ng-repeat="kh in ctrl.data.listVaiTro"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>

                <div class="panel-footer">
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.search()">Tìm kiếm (F8)</a>&nbsp;&nbsp;&nbsp;
                    <a class="btn btn-sm btn-default" ng-click="ctrl.action.reset()">Thiết lặp lại</a>
                </div>
            </div>

        </div>
    </div>
    <!-- /panel tìm kiếm -->
    <!-- popup danh sách vai trò  -->
    <div class="panel panel-primary hidden-print collapse fade ui-draggable" ng-controller="VaiTroListCtrl as ctrl" id="VaiTroListPopup" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Danh sách vai trò</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#VaiTroListPopup"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:auto;height:auto;">
            <form class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm vai trò</span>
                </div>
                <div class="form-group form-group-sm">
                    <input name="txtTimKiem" type="text" class="form-control" ng-model="search" ng-keypress="$event.keyCode===13?ctrl.action.find(search):0" autofocus />
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.find(search)"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</a>
                </div>
            </form>
        </div>
        <div id="tableToExport" class="list-margin">
            <table st-table="displayed" st-safe-src="ctrl.data.dsVaiTro" class="table table-bordered table-condensed table-hover table-responsive ">
                <thead class="panel-footer">
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center" st-sort="MaVaiTro">Mã</th>
                        <th class="text-center" st-sort="TenVaiTro">Tên</th>
                    </tr>
                </thead>
                <tbody ng-if="!ctrl.status.isLoadingList">
                    <tr ng-repeat="vaitro in displayed">
                        <td class="text-primary text-center" st-select-row="vaitro" st-select-mode="multiple"><i class="fa fa-fw" ng-class="vaitro.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td>
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#popupThemNguoiDung" ng-click="ctrl.action.edit(vaitro.VaiTroId)" ng-bind="vaitro.MaVaiTro"></a>
                        </td>
                        <td ng-bind="vaitro.TenVaiTro"></td>
                    </tr>
                </tbody>
            </table>
            <span ng-if="ctrl.status.isLoadingList">Đang tải</span>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>
            <button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#VaiTroListPopup">Đóng</button>
        </div>
    </div>
    <!-- /popup danh sách -->

    <div ng-controller="NguoiDungListCtrl as ctrlList" keyboard="ctrlList.keys">
        <div class="panel panel-default" ng-init="ctrlList.onInitView({controllerId:mainCtrl.controllerId.NguoiDungList, loadListCot:true, showList:true,userInfo: @ViewBag.userInfo})">
            <div class="panel-body">
                <h3 class="text-center no-margin">Danh sách người dùng</h3>
            </div>

            <div class="table-responsive panel-body" style="width:auto; height: auto;" ng-if="ctrlList.data.showList">
                <table class="table table-bordered table-condensed table-responsive table-hover " st-table="ctrlList.data.listNguoiDung" st-pipe="ctrlList.action.getPage">
                    <thead class="bg-default text-primary">
                        <tr>
                            <th class="text-center" style="width: 50px;"></th>
                            <th class="text-center" st-sort="{{cot.MaCot}}" ng-repeat="cot in ctrlList.data.listCot|filter:cot.HienThiYN=true" ng-bind="::cot.TenCot"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="ctrlList.data.error.code>0">
                            <td colspan="100" class="text-center danger" ng-bind="ctrlList.data.error.message"></td>
                        </tr>
                        <tr ng-repeat="congviec in ctrlList.data.listNguoiDung" ng-class="(congviec.isSelected==true)?'info':''">
                            <td class="text-primary text-center" st-select-row="congviec" st-select-mode="multiple"><i class="fa fa-fw" ng-class="congviec.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                            <td ng-repeat="cot in ctrlList.data.listCot|filter:cot.HienThiYN=true" ng-switch="cot.MaCot">
                                <a href="javascript:void(0)" ng-click="ctrlList.action.xemNguoiDung(congviec.NguoiDungId)" ng-switch-when="HoTen" ng-bind="::congviec[cot.MaCot]"></a>
                                <span ng-switch-default ng-bind="::congviec[cot.MaCot]"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="100" class="text-center hidden-print">
                                <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="panel-footer hidden-print">
                <a class="btn btn-sm btn-primary" data-toggle="collapse" ng-if="ctrlList.data.showButtonNew" ng-click="ctrlList.action.addNguoiDung()"><i class="fa fa-plus"></i> Mới (F2)</a>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-sm btn-danger" ng-if="ctrlList.data.showButtonXoaChon" ng-click="ctrlList.action.deleteSelected('')"><i class="fa fa-trash-o"></i> Xóa chọn</button>
            </div>
        </div>
        <!-- popup cập nhật edit người dùng -->
        <div class="panel panel-primary ui-draggable collapse fade hidden-print" id="popupThongTinNguoiDung" ng-controller="NguoiDungEditCtrl as ctrl" keyboard="ctrl.keys" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo})">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title">
                    <span>Người dùng</span>
                    <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#popupThongTinNguoiDung" ng-click="ctrl.action.closeEdit()">
                        <i class="fa fa-remove">
                        </i>
                    </a>
                    <i class="fa fa-fw fa-pulse text-primary pull-right fa-spinner"></i>
                </div>
            </div>
            <div style="width: 600px; padding-top: 15px;padding-right: 50px;">
                <form class="form-horizontal">
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidMaNguoiDung}">
                        <label class="control-label col-sm-3">Mã người dùng</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtMaNguoiDung" ng-model="ctrl.data.objNguoiDung.MaNguoiDung" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.MaNguoiDung,'txtMaNguoiDung','txtTenNguoiDung',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidTenNguoiDung}">
                        <label class="control-label col-sm-3">Họ tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtTenNguoiDung" ng-model="ctrl.data.objNguoiDung.HoTen" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.HoTen,'txtTenNguoiDung','popVaiTro',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidVaiTro}">
                        <label for="" class="control-label col-sm-3">Vai trò</label>
                        <div class="col-sm-9">
                            <div class="form-control auto-height">

                                <a class="pull-right" href="javascript:void(0);" ng-click="ctrl.action.clearListVaiTro()"><i class="fa fa-remove"></i></a>
                                <a href="javascript:void(0);" data-toggle="collapse" id="popVaiTro" data-target="#VaiTroListPopupEdit">
                                    <div>
                                        <i class="fa fa-fw fa-search"></i>
                                        <span class="" style="margin-right: 5px;" ng-bind="kh.TenVaiTro+','" ng-repeat="kh in ctrl.data.listVaiTro"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-if="ctrl.data.showcboCoSo==true"ng-class="{'has-error':ctrl.status.isInValidCoSo}">
                        <label class="control-label col-sm-3">Cơ sở</label>
                        <div class="col-sm-9">
                            <cbo-co-so data-config="{userInfo:@(ViewBag.userInfo),NameId:'txtCoSoId'}" data-cosoid="ctrl.data.objNguoiDung.CoSoId" template-url="~/coso/showview?viewname=cbocoso" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.CoSoId,'txtCoSoId', 'txtEmail',$event)"></cbo-co-so>
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Nhân viên</label>
                        <div class="col-sm-9">
                            @{Html.RenderPartial("~/views/NhanVien/Combobox.cshtml", new ViewDataDictionary { { "Html", true }, { "onInitView", "{controllerId:'NhanVienEditCtrl',NameId:'cbxNhanVien',userInfo:" + ViewBag.UserInfo + "}" } });}
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidEmail}">
                        <label class="control-label col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="txtEmail" ng-model="ctrl.data.objNguoiDung.Email" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.Email,'txtEmail','txtPassword',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm" ng-class="{'has-error':ctrl.status.isInValidPassword}">
                        <label class="control-label col-sm-3">Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtPassword" ng-model="ctrl.data.objNguoiDung.PasswordHash" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.PasswordHash,'txtPassword','txtDienThoai',$event)" />
                        </div>
                    </div>
                    <div class="row form-group form-group-sm">
                        <label class="control-label col-sm-3">Điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtDienThoai" ng-model="ctrl.data.objNguoiDung.DienThoai" ng-keypress="ctrl.action.keyPress(ctrl.data.objNguoiDung.DienThoai,'txtDienThoai','btnluu',$event)" />
                        </div>
                    </div>


                </form>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-sm btn-primary" ng-if="ctrl.data.showButtonSave" id="btnluu" ng-click="ctrl.action.save()"><i class="fa fa-save"></i> Lưu (F8)</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-default" ng-click="ctrl.action.refresh()">Thiết lập lại</button>&nbsp;&nbsp;&nbsp;
                <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#popupThongTinNguoiDung" ng-click="ctrl.action.closeEdit()">Đóng</a>&nbsp;&nbsp;&nbsp;
            </div>

        </div>
    </div>
    <!-- /popup cập nhật -->
    <!-- popup danh sách vai tro edit-->
    <div class="panel panel-primary hidden-print collapse fade ui-draggable" ng-controller="VaiTroListCtrl as ctrl" id="VaiTroListPopupEdit" ng-init="ctrl.onInitView({controllerId:mainCtrl.controllerId.VaiTroListPopupEdit,userInfo: @ViewBag.userInfo})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Danh sách vai trò</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#VaiTroListPopupEdit"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="panel-body" style="width:auto;height:auto;">
            <form class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <span><i class="fa fa-fw fa-star-o"></i>Tìm kiếm vai trò</span>
                </div>
                <div class="form-group form-group-sm">
                    <input name="txtTimKiem" type="text" class="form-control" ng-model="search" ng-keypress="$event.keyCode===13?ctrl.action.find(search):0" autofocus />
                    <a class="btn btn-sm btn-primary" ng-click="ctrl.action.find(search)"><i class="fa fa-fw fa-search"></i>Tìm kiếm (F3)</a>
                </div>
            </form>
        </div>
        <div id="tableToExport" class="list-margin">
            <table st-table="displayed" st-safe-src="ctrl.data.dsVaiTro" class="table table-bordered table-condensed table-hover table-responsive ">
                <thead class="panel-footer">
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center" st-sort="MaVaiTro">Mã</th>
                        <th class="text-center" st-sort="TenVaiTro">Tên</th>
                    </tr>
                </thead>
                <tbody ng-if="!ctrl.status.isLoadingList">
                    <tr ng-repeat="vaitro in displayed">
                        <td class="text-primary text-center" st-select-row="vaitro" st-select-mode="single"><i class="fa fa-fw" ng-class="vaitro.isSelected==true?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td>
                            <a href="javascript:void(0);" data-toggle="collapse" data-target="#popupThemNguoiDung" ng-click="ctrl.action.edit(vaitro.VaiTroId)" ng-bind="vaitro.MaVaiTro"></a>
                        </td>
                        <td ng-bind="vaitro.TenVaiTro"></td>
                    </tr>
                </tbody>
            </table>
            <span ng-if="ctrl.status.isLoadingList">Đang tải</span>
        </div>
        <div class="panel-footer">
            <button class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</button>
            <button class="btn btn-sm btn-default" data-toggle="collapse" data-target="#VaiTroListPopupEdit">Đóng</button>
        </div>
    </div>
    <!-- /popup danh sách -->
    <!-- popup danh sách tùy chọn cột -->
    <div class="panel panel-primary ui-draggable collapse fade" id="TuyChonCotPopup" ng-controller="TuyChonCotListCtrl as ctrl" ng-init="ctrl.onInitView({userInfo: @ViewBag.userInfo,controllerId:mainCtrl.controllerId.TuyChonCotPopup,MaForm:'FL0009'})">
        <div class="panel-heading ui-draggable-handle">
            <div class="panel-title">
                <span>Tùy chọn cột</span>
                <a class="btn btn-xs btn-primary pull-right" data-toggle="collapse" data-target="#TuyChonCotPopup"><i class="fa fa-remove"></i></a>
            </div>
        </div>
        <div class="table-responsive" style="width: 400px; height: auto;" ng-if="ctrl.data.showList">
            <table class="table table-bordered table-condensed table-hover table-striped" st-table="ctrl.data.listCot">
                <thead>
                    <tr>
                        <th style="width: 65px;">Hiện/ẩn</th>
                        <th>Tên cột</th>
                        <th>Độ rộng</th>
                    </tr>
                </thead>
                <tbody style="height:100px;">
                    <tr ng-repeat="cot in ctrl.data.listCot" ng-class="(cot.isSelected==true)?'info':''" ng-init="cot.isSelected=cot.HienThiYN">
                        <td st-select-row="cot" st-select-mode="multiple" class="text-center"><i class="fa fa-fw text-primary" ng-class="(cot.isSelected==true)?'fa-check-square-o':'fa-square-o'"></i></td>
                        <td><span ng-bind="cot.TenCot"></span></td>
                        <td><span ng-bind="cot.DoRong"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100" class="text-center">
                            <div st-pagination="" st-items-by-page="10" st-template="~/Scripts/angular/shared/smart-table/template/pagination.custom.html"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <a class="btn btn-sm btn-primary" ng-click="ctrl.action.apDung()">Áp dụng</a>
            <a class="btn btn-sm btn-default" data-toggle="collapse" data-target="#TuyChonCotPopup">Đóng</a>
        </div>
    </div>
    <!-- / popup danh sách tùy chọn cột -->

</div>
@section ImportScripts{}
@section SetupScripts{}
@section ImportAngular{
    <script src="~/Scripts/angular/app/models/keyCodes.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/controller/TuyChonCotListCtrl.js"></script>
    <script src="~/Scripts/angular/TuyChonFormCot/service/TuyChonCotService.js"></script>
    <script src="~/Scripts/angular/NguoiDung/controller/NguoiDungListCtrl.js"></script>
    <script src="~/Scripts/angular/NguoiDung/controller/NguoiDungEditCtrl.js"></script>
    <script src="~/Scripts/angular/NguoiDung/controller/NguoiDungFilterCtrl.js"></script>
    <script src="~/Scripts/angular/NguoiDung/controller/MainCtrl.js"></script>
    <script src="~/Scripts/angular/NguoiDung/service/NguoiDungService.js"></script>
    <script src="~/Scripts/angular/NhanVien/controller/NhanVienListCtrl.js"></script>
    <script src="~/Scripts/angular/NhanVien/service/NhanVienService.js"></script>
    <script src="~/Scripts/angular/VaiTro/controller/VaiTroListCtrl.js"></script>
    <script src="~/Scripts/angular/VaiTro/service/VaiTroService.js"></script>
    <script src="~/Scripts/angular/shared/service/ExcelExport.js"></script>
    @{Html.RenderPartial("~/views/NhanVien/Combobox.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("~/views/coso/cbocoso.cshtml", new ViewDataDictionary { { "ImportAngular", true } });}
}