@model VTSolution.ViewModel.Customer.IntroduceIndexModel
@{
    ViewBag.Title = "Sản Phẩm | Ehis Song Ân";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Url = Request.Url.AbsoluteUri;
    var about = Helper.GetData();
}

<div id="main-home">
    <div class="container-fluid">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:500px;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;background-repeat:no-repeat;background-fit:cover;background-position:center center;max-height:500px;height:500px;">
                <ul>
                    @*<li class="video">
                            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/PrfyrXjuoFM?autoplay=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
                        </li>*@
                    @{Html.RenderAction("Banner", "Home");}
                </ul><div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
            <style scoped></style>
            
        
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/plugin/css/images/SAN PHAM-min.png" width="100%" />
            </div>
            <div class="col-md-6">
             @Html.Raw(HttpUtility.HtmlDecode(about.Vi_Product))
               
            </div>
        </div>
        <h1 class="project-breadcrumb"><span>@Resource.Sanpham</span></h1>
        <div class="project-list" id="project-list">
            <div class="row" id="loop">
                @foreach (var item in Model.SanPhamList)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3" id="ga-788" style="position: relative;">
                        <a class="item" href="@Url.Action("ProductDetail", "ViewProduct", new {titleduan = Util.GenerateUrl(item.Vi_Title.Trim())})" title="@item.Vi_Title 1">
                            <div class="item-img" style="text-align:center">
                                <img src="@item.ImagePath" alt="@item.Vi_Title" width="80%" >
                                <div class="item-bg"></div>
                                <p style="text-align:center;height:21px;overflow:hidden">@item.Vi_Title</p>
                                <br />
                                <h3>@item.Vi_Description</h3>
                            </div>
                        </a>
                    </div>

                }

            </div>


            <div class="clearfix hidden-xs hidden-sm"></div>      <div class="clearfix visible-xs hidden-sm"></div>      <div class="clearfix visible-sm"></div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>