@model VTSolution.Models.File
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Model.Id != 0)
    {
        ViewBag.Title = "Cập nhật file";
    }
    else
    {
        ViewBag.Title = "Thêm mới file";
    }

}
@section featured{
    @using (Html.BeginForm("Create", "File"))
    {

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label for="Title">Tên file </label>
                </div>
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Vi_Name, new { id = "Title", required = "required", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>

                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <label for="Title">Link Tiếng Việt Từ Web</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Url, new { id = "Title", @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <label for="input_link">Link </label>
                            </div>
                            <div class="col-md-9" style="padding-left:30px;">
                                <div class="row file">
                                    @if (Model.Id != 0)
                                    {
                                    <input type="text" name="LinkDownload" value="@Model.LinkDownload" style="width: 350px;" />
                                    }
                                </div>
                                <div class="row">
                                    <button id="btninput_link1">Chọn file</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br />
                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <label for="Title">Link Tiếng Anh Từ Web</label>
                                </div>
                                <div class="col-md-9">
                                    @Html.TextAreaFor(model => model.Url2, new { id = "Title", @class = "form-control" })
                                </div>
                            </div>
                        </div>*@
                    <br />
                    @*<div class="row">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <label for="input_link">Link Tiếng Anh </label>
                            </div>
                            <div class="col-md-9" style="padding-left:30px;">
                                <div class="row file2">
                                    @if (Model.Id != 0)
                                    {
                                    <input type="text" name="LinkDownload2" value="@Model.LinkDownload2" style="width: 350px;" />
                                    }
                                </div>
                                <div class="row">
                                    <button id="btninput_link2">Chọn file</button>
                                </div>
                            </div>

                        </div>

                    </div>*@
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" id="Submit" class="btn btn-primary ladda-button Submit" data-style="expand-right">Cập nhật</button>
                                <a class="btn btn-danger ladda-button" id="btn_Canel" href="/File/Index" data-style="expand-right">Quay lại</a>
                            </div>
                        </div>
                    </div>    
    }
}
<script>
    $('#btninput_link1').on('click', function () {
        $('.file').find('input').each(function () {
            $(this).remove();
        });

        window.open('/TinyFileManager.NET/dialog.aspx?profile=notinymce2', 'demo', 'toolbar=0,location=0,status=0,menubar=0,scrollbars=yes,resizable=1,width=900,height=600');
        return false;
    })
    $('#btninput_link2').on('click', function () {
        $('.file2').find('input').each(function () {
            $(this).remove();
        });

        window.open('/TinyFileManager.NET/dialog.aspx?profile=notinymce4', 'demo', 'toolbar=0,location=0,status=0,menubar=0,scrollbars=yes,resizable=1,width=900,height=600');
        return false;
    })
    function clickne(e) {
        var x = $(e).parent();
        x.remove();
    }
    $(document).ready(function () {
        var categories = $("#categories").data("kendoDropDownList"),
            products = $("#GroupId").data("kendoDropDownList")
    });
</script>



