<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý kinh doanh</title>
    <link href="~/lib/images/LOGO_ICON.png" rel="icon" />
    <script src="~/lib/modernizr/modernizr-2.6.2.js"></script>

    <!--css-->
    @Styles.Render("~/bundles/css")

    @(RenderSection("ImportStyles", false))
    @(RenderSection("SetupStyles", false))

    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportStyles", true } });}
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "SetupStyles", true } });}

    @Styles.Render("~/bundles/css/site")
</head>
<body ng-app="app">
    <div id="wrapper" style="background-color:#0d6aad;">
        @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "Html", true } });}
        <!-- Page Content -->
        <div id="page-wrapper">
            @RenderBody()
        </div><!-- /#page-wrapper -->
    </div><!-- /#wrapper -->
    <!--javascript-->
    @Scripts.Render("~/bundles/javascript")
    @Scripts.Render("~/bundles/CustomAngular")
    
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportAngular", true } });}
    @{Html.RenderPartial("_PartialNavigation", new ViewDataDictionary { { "ImportScripts", true } });}

    @(RenderSection("ImportScripts", false))
    @(RenderSection("SetupScripts", false))

    <!--CustomAngular-->
    @(RenderSection("ImportAngular", false))
</body>
</html>